

/* 
=GLOBAL *****************************************************************************/
html, body {height: 100%;}

body { 
	background: rgb(50,75,98); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(50,75,98,1) 0%, rgba(18,38,49,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(50,75,98,1)), color-stop(100%,rgba(18,38,49,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(50,75,98,1) 0%,rgba(18,38,49,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(50,75,98,1) 0%,rgba(18,38,49,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(50,75,98,1) 0%,rgba(18,38,49,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(50,75,98,1) 0%,rgba(18,38,49,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#324b62', endColorstr='#122631',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
iframe {margin-bottom:-5px;}
.debug { border: 1px solid red; }

/* 
=TYPEPOGRAPHY *****************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Bitter:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

.h3 small {	margin-top: -20px; }
em { font-family: 'Bitter-italic', serif; }
h2 { color: #f1690d; }

/* 
=TOPBAR *****************************************************************************/

.bullet {
	width: 13px; 
	line-height:2;
	color: #6d7882;
	font-size: 2em;
	font-family: 'Bitter-italic', serif;
	}

.top-bar .toggle-topbar.menu-icon a::after {
	content: "*";
	-webkit-box-shadow: 0 0 0 0  white, 0 0 0 0 white, 0 0 0 0  white;
	box-shadow:  0 0 0 0  white,  0 0 0 0 white,  0 0 0 0  white;
	line-height:1.7;
	font-size: 2em;
	font-family: 'Bitter-italic', serif;
}	
.top-bar-section li::hover:not(.has-form) a:not(.button) { background: transparent; }

/* 
=Intro *****************************************************************************/

#intro {
	padding-top:3em;
	padding-bottom:1em;
	p {
		color: #9ba2a8;
		font-family: 'Bitter-italic', serif;
	}
		div {
		margin: 0 auto;
		width: 120px;
	}
	h1 {
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		color: white;
		margin-bottom: 1em;
	}
}

#call-to-action  {
	background-color: #243b4d;
	border:2px solid #30495e;
}
	#call-to-action:hover  {
		background-color: #2e4a60;
		border:2px solid #2e4a60;
	}
	#call-to-action:active  { background-color: #1b2e3c; }


/* 
=BENFITS *****************************************************************************/
.benefits {
	background-color: #eeefdd;
	padding: 2em 0 0 0;
}
.example {
	height: 600px;
	position:absolute;
	bottom:0;
	right: 0;
}



/* 
=GETSTARTED *****************************************************************************/

.get-started {
	background-color: white;
	margin-top: 1px;
	display: block;
	width:100%;
	padding: 2em 0;
	margin-bottom: 2em;
}
.top-bar-section {
	width: 500px;
	margin: 0px auto;
}



/* 
=FOOTER *****************************************************************************/

footer {
	padding: 2em 0;
	color: white;
}



